body {
  margin: 0;
  min-height: 100vh;
  background-color: rgb(160, 212, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}
#table {
  background-color: rgb(252, 240, 240);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
tr {
  padding: 10px 5px;
  cursor: default;
  width: 30vw;
  font-size: 2em;
}
tr:hover {
  background-color: rgb(202, 202, 202);
}
